/* Общие */

header {
	background-color: #f5f5f5;
	.logout-btn {
		position: absolute;
	    top: 13px;
    	right: 10px;
	}
}


.popup-wrap {
	position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
	
	.popup {
		position: absolute;
	    left: 50%;
	    top: 50%;
	    margin-left: -130px;
	    margin-top: -85px;
	    .popup-container {
	    	text-align: center;
		    background-color: #fff;
		    width: 260px;
		    height: 150px;
		    padding-top: 40px;
		    border-radius: 3px;
		    button {
		    	margin-top: 10px;
		    }
		}
	}	
	
	
}

/* Список задач */

.task-list {
	h3 {
		margin-bottom: 30px;
	}
	.search-form {
		width: 300px;
		float: left;		
	}
	.count-items-info {
		p {
			margin-top: 7px;
			margin-left: 10px;
			float: left;
		}
	}
	.select-view {
		float: right;
		label {
			display: inline-block;
		}
		select {
			width: 123px;
			display: inline-block;
			option {
				padding: 5px !important;
			}
		}
	}
	.table-tasks {
	
		th {
			cursor: pointer;
		}

		td{
			text-align: left;	
			transition: 1s !important;
		}
	}

}

/* Страница авторизации */

.login-form {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  form {
  	input {
  		margin-bottom: 10px;
  	}
  	.button-wrap {
  		text-align: center;
  	}

  }
}

/* Детальная страница задачи */

.task-detail {
	h3 {
		padding-left: 25px;
	}
	h5 {
		margin-bottom: 30px;
	}
	.back-arrow {
		position: absolute;
		top: 20px;
    	left: 16px;
    	font-size: 20px;
	}
	table {
		td {
			vertical-align: middle !important;
		}
		input.form-control {
			width: 50px;	
		}	
		select.form-control {
			width: 110px;
		}
	}
	
	.task-detail-text {
		padding: 10px;
	}
	.comments {
		.comment-text {
			display: inline-block;
			padding: 20px;
		}
		textarea {
			margin-bottom: 20px;
		}
	}
}

