<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Task tracker</title>

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	
	<!-- build:css css/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
	<!-- endbower -->
	<!-- endbuild -->
	
	<!-- build:css css/main.css -->
	<link rel="stylesheet" href="./css/main.css">
	<!-- endbuild -->
</head>

<body ng-app="TaskerApp">
	<header>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<h3 class="text-center">Тестовый трекер задач 1.0</h3>
					<button class="btn logout-btn" ng-controller="LoginController" ng-show="isLoggedIn()" ng-click="logout()">Выйти</button>
				</div>
			</div>
		</div>
	</header>
	<hr>

	<div ui-view></div>
	<!-- build:js scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:js scripts/main.js -->
	<script src="./js/all.js"></script>
	<!-- endbuild -->
</body>

</html>