<div class="login-form">
    <form>
        <label>Имя</label><input type="text" class="form-control" ng-model="name">
        <label>Пароль</label><input type="password" class="form-control" ng-model="pass">
        <div class="button-wrap">
            <button type="button" class="btn btn-primary" ng-click="login()">Войти</button>
        </div>

    </form>
    <div class="popup-wrap" ng-show="popupVisibility">
        <div class="popup">
            <div class="popup-container">
                <p class="text-error">Логин и пароль не найдены</p>
                <button class="btn btn-warning" ng-click="popupClose()">Закрыть</button>
            </div>
        </div>
    </div>
</div>