<div class="container">
	<div class="row">
		<div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<div class="task-list">
				<h3 class="text-center">Список задач</h3>
				<hr>
				<form class="search-form">
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon">
								<i class="fa fa-search"></i>
							</div>
							<input type="text" class="form-control" placeholder="Поиск по задачам" ng-model="searchTasks">
						</div>
					</div>
				</form>
				<div class="count-items-info">
					<p>Всего задач: <b>{{tasks.length}}</b></p>
					<p>Найдено: <b>{{(tasks |  filter:searchTasks).length}}</b></p>
				</div>

				<div class="form-group select-view">
					<label for="sel1">Вид списка: </label>
					<select class="form-control" id="sel1" ng-model="detailView" >
					  	<option ng-value="false" selected="selected">Краткий</option>	
					  	<option ng-value="true">Подробный</option>
				  </select>
				</div>

				<table class="table table-tasks">
					<tr>

						<th ng-click="sortType = 'title'; sortReverse = !sortReverse">Название</th>
						<th ng-click="sortType = 'status'; sortReverse = !sortReverse">Приоритет</th>
						<th ng-click="sortType = 'status'; sortReverse = !sortReverse">Статус</th>
						<th ng-click="sortType = 'author'; sortReverse = !sortReverse" ng-show="detailView">Автор</th>
						<th ng-click="sortType = 'date'; sortReverse = !sortReverse" ng-show="detailView">Дата</th>
					</tr>
					<tr ng-repeat="task in tasks | orderBy:sortType:sortReverse | filter:searchTasks" ng-class="{'success' : task.status == 'готово', 'warning' : task.status == 'в работе'}">

						<td><a ui-sref="task({taskId: task.id})">{{task.title}}</a></td>
						<td>{{task.priority}}</td>
						<td>{{task.status}}</td>
						<td ng-show="detailView">{{task.author}}</td>
						<td ng-show="detailView">{{task.date | date:'dd-MM-yyyy hh:mm'}}</td>
					</tr>
				</table>

			</div>
		</div>
	</div>
</div>