<div class="container">
	<div class="row task-detail">
		<div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
			<h3 class="text-center">{{task.title}}</h3>
			<h5 class="text-right"><i>Дата создания: {{task.date | date:'dd-MM-yyyy hh:mm'}}</i></h5>

			<div class="back-arrow">
				<a ui-sref="tasks">
					<i class="fa fa-arrow-left" aria-hidden="true"></i>
				</a>

			</div>

			<p><b>Автор:</b> {{task.author}}</p>
			<p><b>Статус:</b> <span class="label" ng-class="{'label-success' : task.status == 'готово', 'label-warning' : task.status == 'в работе', 'label-info' : task.status == 'новая'}">{{task.status}}</span></p>
			<p><b>Приоритет:</b> {{task.priority}}</p>


			<table class="table table-condensed">
				<tr>
					<td>Планируемое время выполнения(мин.): <b>{{task.planTime}}</b></td>
					<td><input type="text" class="form-control" ng-model="task.planTime"></td>
					<td>Время выполнения(мин.): <b>{{task.factTime}}</b></td>
					<td><input type="text" class="form-control" ng-model="task.factTime"></td>
					<td>Статус:</td>
					<td>
						<select class="form-control" ng-model="task.status">
							<option value="новая">новая</option>
							<option value="в работе">в работе</option>
							<option value="готово">готово</option>
						</select>
					</td>
				</tr>
			</table>


			<div ng-if="task.detail">
				<hr>
				<h4>Описание:</h4>
				<p class="task-detail-text">{{task.detail}}</p>
			</div>

			<hr>
			<h4>Комментарии:</h4>
			<div class="comments">
				<div ng-repeat="comment in task.comments">
					<p>{{comment.author}} <b>{{comment.date | date:'dd-MM-yyyy hh:mm'}}</b></p>
					<p class="bg-warning comment-text"><i>{{comment.text}}</i></p>
				</div>
				<div class="form-group">
					<textarea ng-model="comment" class="form-control" rows="5"></textarea>
					<button class="btn btn-default" ng-click="addComment(comment)">Добавить</button>
				</div>
			</div>

		</div>
	</div>
</div>